mat-toolbar{
    background-color: #0E1D56;
    color: white;
}

mat-tab{
    color: purple;
    height: 100%;
}
.tab-contenido{
    height: 100%;
}
img{
    display: block;
    margin: auto;
    height: 70px;
    width: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
}
  .example-card {
   width: 100%;
    margin: 15px;
    cursor: pointer;
}

  
  .example-header-image {
    background-image: url('../../../../../assets/mitesis/document.svg');
    background-size: cover;
  }
  
  