<mat-toolbar>Entregables Revisados</mat-toolbar>
<mat-card>
    <mat-card-content>        
        <h2>Progreso</h2>
        <section class="line">
            <mat-progress-bar class="example-margin" [color]="color" [mode]="mode" [value]="70"
                [bufferValue]="bufferValue">
            </mat-progress-bar>            
        </section>
        <h2 class="line">70%</h2>
    </mat-card-content>
</mat-card>
<div class="centrar">
        <mat-card class="entregable">                
                <section class="centrar">
                        <img class="document-icon" src="../../../../../assets/mitesis/subir.svg" alt="">
                </section>                
            </mat-card>
        <mat-card class="entregable">
            <section class="item">
                    <img class="document-icon" src="../../../../../assets/mitesis/document.svg" alt="">
            </section>
            <section class="item section-content">
                    <h1 >Entregable</h1>    
            </section>
                <section class="item section-actions">
                        <img class="check-icon" src="../../../../../assets/mitesis/check.svg" alt="">
                        <img class="save-icon" src="../../../../../assets/mitesis/download.svg" alt="">
                </section>
        </mat-card>
        <mat-card class="entregable">
                <section class="item">
                        <img class="document-icon" src="../../../../../assets/mitesis/document.svg" alt="">
                </section>
                <section class="item section-content">
                        <h1 >Entregable</h1>    
                </section>
                    <section class="item section-actions">
                            <img class="check-icon" src="../../../../../assets/mitesis/check.svg" alt="">
                            <img class="save-icon" src="../../../../../assets/mitesis/download.svg" alt="">
                    </section>
            </mat-card>
            <mat-card class="entregable">
                    <section class="item">
                            <img class="document-icon" src="../../../../../assets/mitesis/document.svg" alt="">
                    </section>
                    <section class="item section-content">
                            <h1 >Entregable</h1>    
                    </section>
                        <section class="item section-actions">
                                <img class="check-icon" src="../../../../../assets/mitesis/check.svg" alt="">
                                <img class="save-icon" src="../../../../../assets/mitesis/download.svg" alt="">
                        </section>
                </mat-card>
                <mat-card class="entregable">
                        <section class="item">
                                <img class="document-icon" src="../../../../../assets/mitesis/document.svg" alt="">
                        </section>
                        <section class="item section-content">
                                <h1 >Entregable</h1>    
                        </section>
                            <section class="item section-actions">
                                    <img class="check-icon" src="../../../../../assets/mitesis/check.svg" alt="">
                                    <img class="save-icon" src="../../../../../assets/mitesis/download.svg" alt="">
                            </section>
                    </mat-card>
                    <mat-card class="entregable">
                            <section class="item">
                                    <img class="document-icon" src="../../../../../assets/mitesis/document.svg" alt="">
                            </section>
                            <section class="item section-content">
                                    <h1 >Entregable</h1>    
                            </section>
                                <section class="item section-actions">
                                        <img class="check-icon" src="../../../../../assets/mitesis/check.svg" alt="">
                                        <img class="save-icon" src="../../../../../assets/mitesis/download.svg" alt="">
                                </section>
                        </mat-card>
                        <mat-card class="entregable">
                                <section class="item">
                                        <img class="document-icon" src="../../../../../assets/mitesis/document.svg" alt="">
                                </section>
                                <section class="item section-content">
                                        <h1 >Entregable</h1>    
                                </section>
                                    <section class="item section-actions">
                                            <img class="check-icon" src="../../../../../assets/mitesis/check.svg" alt="">
                                            <img class="save-icon" src="../../../../../assets/mitesis/download.svg" alt="">
                                    </section>
                            </mat-card>
                            <mat-card class="entregable">
                                    <section class="item">
                                            <img class="document-icon" src="../../../../../assets/mitesis/document.svg" alt="">
                                    </section>
                                    <section class="item section-content">
                                            <h1 >Entregable</h1>    
                                    </section>
                                        <section class="item section-actions">
                                                <img class="check-icon" src="../../../../../assets/mitesis/check.svg" alt="">
                                                <img class="save-icon" src="../../../../../assets/mitesis/download.svg" alt="">
                                        </section>
                                </mat-card>
</div>
