
AsesoriaTesisWebAPICore/AsesoriaTesisWebAPI/obj/Debug/netcoreapp2.2/AsesoriaTesisWebAPI.assets.cache
AsesoriaTesisWebAPICore/AsesoriaTesisWebAPI/bin/Debug/netcoreapp2.2/AsesoriaTesisWebAPI.dll
AsesoriaTesisWebAPICore/AsesoriaTesisWebAPI/bin/Debug/netcoreapp2.2/AsesoriaTesisWebAPI.pdb
AsesoriaTesisWebAPICore/AsesoriaTesisWebAPI/bin/Debug/netcoreapp2.2/AsesoriaTesisWebAPI.runtimeconfig.dev.json
AsesoriaTesisWebAPICore/AsesoriaTesisWebAPI/obj/AsesoriaTesisWebAPI.csproj.nuget.dgspec.json
AsesoriaTesisWebAPICore/AsesoriaTesisWebAPI/obj/AsesoriaTesisWebAPI.csproj.nuget.g.props
AsesoriaTesisWebAPICore/AsesoriaTesisWebAPI/obj/AsesoriaTesisWebAPI.csproj.nuget.g.targets
AsesoriaTesisWebAPICore/AsesoriaTesisWebAPI/obj/Debug/netcoreapp2.2/AsesoriaTesisWebAPI.csprojAssemblyReference.cache
AsesoriaTesisWebAPICore/AsesoriaTesisWebAPI/obj/Debug/netcoreapp2.2/AsesoriaTesisWebAPI.dll
AsesoriaTesisWebAPICore/AsesoriaTesisWebAPI/obj/Debug/netcoreapp2.2/AsesoriaTesisWebAPI.pdb
AsesoriaTesisWebAPICore/AsesoriaTesisWebAPI/obj/project.assets.json
