<mat-toolbar>Agregar Actividad</mat-toolbar>
<form class="contenedor" action="">
        <mat-form-field>
                <mat-select placeholder="Seleccione Tipo de Actividad" required>
                        <mat-option *ngFor="let actividad of actividad" [value]="actividad.nombre">{{actividad.nombre}}
                        </mat-option>
                </mat-select>
        </mat-form-field>
        <table class="example-full-width" cellspacing="0">
                <tr>
                        <td>
                                <mat-form-field>
                                        <mat-select placeholder="Escuelas" (selectionChange)="obtenerAsesores($event.value)">
                                                <mat-option *ngFor="let escuela of escuela" [value]="escuela.escuelaId">
                                                        {{escuela.acronimo}}</mat-option>
                                        </mat-select>
                                </mat-form-field>                                
                        </td>
                        <td>
                                <mat-form-field>
                                        <mat-select placeholder="Ciclo Academico">
                                                <mat-option *ngFor="let ciclo of cicloacademico" [value]="ciclo.nombre">{{ciclo.nombre}}</mat-option>                                                
                                        </mat-select>
                                </mat-form-field>
                        </td>
                        <td>
                                <mat-form-field>
                                        <mat-select placeholder="Alumno">
                                                <mat-option *ngFor="let alumno of alumno" [value]="alumno.entidadID">{{alumno.personaNombre}} {{alumno.personaApellido}}</mat-option>                                                
                                        </mat-select>
                                </mat-form-field>
                        </td>
                </tr>
        </table>
        <mat-form-field>
                <mat-select placeholder="Asesor">
                        <mat-option *ngFor="let asesor of asesor" [value]="asesor.entidadID">{{asesor.personaNombre}} {{asesor.personaApellido}}</mat-option>                                                
                </mat-select>
        </mat-form-field>
        <mat-form-field>
                <input matInput placeholder="Titulo">
        </mat-form-field>
        <mat-form-field>
                <textarea matInput placeholder="Descripcion"></textarea>
        </mat-form-field>
        <mat-form-field>
                <textarea matInput placeholder="Resumen"></textarea>
        </mat-form-field>
        <button mat-flat-button color="accent">Guardar</button>

</form>