
    <mat-nav-list >      
      <img src="../../../assets/avatar.jpg" alt="Avatar">      
      <h2>Docente Asesor</h2>
      <h4>2013000664</h4>
      <mat-divider></mat-divider>
       <a mat-list-item routerLinkActive="list-item-active"  routerLink="especialidades"> <mat-icon>school</mat-icon>Alumnos Asesorados</a>
       <mat-divider></mat-divider>
       <a mat-list-item routerLinkActive="list-item-active" routerLink="mislogros"><mat-icon>star</mat-icon>Record</a>
       <mat-divider></mat-divider>
       <a mat-list-item routerLinkActive="list-item-active" routerLink="requisitos"><mat-icon>info</mat-icon>Pendiente</a>
       <mat-divider></mat-divider>
       <a mat-list-item routerLinkActive="list-item-active" routerLink="mitesis"><mat-icon>school</mat-icon>Revisado</a>
       <mat-divider></mat-divider>            
       <a mat-list-item routerLinkActive="list-item-active" (click)="salir()" ><mat-icon>exit_to_app</mat-icon>Salir</a>
       <mat-divider></mat-divider>  
    </mat-nav-list>
      