mat-toolbar{
    background-color: #0E1D56;
    color: white;
}

mat-tab{
    color: purple;
    height: 20em;
}
.tab-contenido{
    height: 15em;
}
img{
    display: block;
    margin: auto;
    height: 70px;
    width: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
}
mat-card{
    height: 40px;
    width: 25em;
}
mat-grid-list{
    height: 25em;  
  }
  