<mat-toolbar>Agregar Actividad</mat-toolbar>
<div class="contenedor">
        <mat-form-field>
                <mat-select placeholder="Seleccione Actividad">
                    <mat-option value="Tesis">Tesis</mat-option>   
                    <mat-option value="Trabajo de Invetigacion">Trabajo de Invetigacion</mat-option> 
                </mat-select>                 
        </mat-form-field>
        <mat-form-field>
                <mat-select placeholder="Alumno">
                    <mat-option value="Tesis">Tesis</mat-option>   
                    <mat-option value="Trabajo de Invetigacion">Trabajo de Invetigacion</mat-option> 
                </mat-select>                 
        </mat-form-field>
        <mat-form-field>
                <mat-select placeholder="Asesor">
                    <mat-option value="Tesis">Tesis</mat-option>   
                    <mat-option value="Trabajo de Invetigacion">Trabajo de Invetigacion</mat-option> 
                </mat-select>                 
        </mat-form-field>
        <mat-form-field>
                <mat-select placeholder="Seleccione Actividad">
                    <mat-option value="Tesis">Tesis</mat-option>   
                    <mat-option value="Trabajo de Invetigacion">Trabajo de Invetigacion</mat-option> 
                </mat-select>                 
        </mat-form-field>
</div>

