
<div>
  <mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="actividad">
      <mat-header-cell *matHeaderCellDef> Actividad </mat-header-cell>
      <mat-cell *matCellDef="let actividad"> {{actividad.actividadNombreTipo}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="alumno">
      <mat-header-cell *matHeaderCellDef> Alumno </mat-header-cell>
      <mat-cell *matCellDef="let actividad"> {{actividad.alumnoNombre}} {{actividad.alumnoApellido}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="asesor">
      <mat-header-cell *matHeaderCellDef> Asesor </mat-header-cell>
      <mat-cell *matCellDef="let actividad"> {{actividad.docenteNombre}} {{actividad.docenteApellido}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="titulo">
      <mat-header-cell *matHeaderCellDef> Titulo </mat-header-cell>
      <mat-cell *matCellDef="let actividad"> {{actividad.actividadTitulo}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="descripcion">
      <mat-header-cell *matHeaderCellDef> Descripcion </mat-header-cell>
      <mat-cell *matCellDef="let actividad"> {{actividad.actividadDescripcion}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="estado" >
      <mat-header-cell *matHeaderCellDef> Estado </mat-header-cell>
      <mat-cell *matCellDef="let actividad"> {{actividad.finalizada}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="acciones">
      <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
      <mat-cell *matCellDef="let actividad"> <mat-icon>edit</mat-icon> <mat-icon>delete</mat-icon></mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>